<html>
<head>
  <title>{{#if blog.isHome}}{{blog.title}}{{else}}{{page.post.title}}{{/if}}</title>
  <link rel="stylesheet" type="text/css" href="{{asset "main.css"}}"/>
</head>
<body>
{{{content}}}
</body>
</html>